@use '_variables.scss' as *;
@use '_mixins.scss' as *;

.header {
    flex-direction: column;
    overflow: auto;
    background-color: $bandsite-black;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include tablet {
        flex-direction: row;
    }

    .header__title {  
        color: white;
        width: 100%;
        text-align: center;

        @include tablet {
            width: 25%;
            padding-left: 1.5rem;
            text-align: flex-start;
    
        }

    }

    .header__nav {
        padding-top:16px;
        width: 100%;

        @include tablet {
            padding-left: 1rem;
            padding-top: 2.5rem;
            width: 30%;
            text-align: flex-start;
    
        }
    }
    ul {
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        li {
            width: 50%;
            display: inline;
            color: #E1E1E1;
            padding-bottom: .8rem;
            text-align: center;

            @include tablet {
                width: 50%;
                padding-bottom: 1.8rem;
        
            }
        }


        li:hover{
            color: $white;
            font-style: bold;
            border-bottom: 3px solid $white;
        }

    }
    a {
        color: $white;
        text-decoration: none;
    }

}