@import 'variables';
@import 'mixins';

.header {
    padding-top: 1rem;
    background-color: $black;
    @include tablet{
        padding-top: 1.5rem;
    }

    &__container {
        margin: 0;
      @include tablet {
        display: flex;
        margin: 0 2.25rem;
      }
      @include desktop {
        max-width: 64rem;
        margin: 0 auto;
      }
    }
    &__logo {
        text-align: center;
        &--img {
          width: 8.75rem;
          padding-bottom: 1rem;
          @include tablet {
            margin-right: 3rem;
            padding-bottom: 1.5rem;
          }
        }
      }
    &__menu {
        width: 100%;
    }
    

    &__list {
      list-style-type: none;
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      @include tablet {
            gap: 3rem;
      }
    }
    &__item {
      width: 50%;
      transition: border-bottom 0.3s;
      padding-bottom: 1rem;
      @include tablet {
        padding-bottom: 1.5rem;
        width: auto;
        margin-bottom: -5px;
      }
      &--enable {
        border-bottom: 3px $white solid;
        font-weight: 600;
      }
      &:hover {
        border-bottom: 3px $mercury solid;
      }
      &--link {
        font-size: 1rem;
        text-decoration: none;
        color: $mercury;
            &--active {
                color: $white;
            }
            &:hover {
                color: $white;
            }
      } 
    }
}