//Global
@import './partials/variables';
@import './partials/mixins';
@import './partials/header';
@import './partials/footer';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


body {
    font-family: 'AvenirNextRegular';
    color: $black;
}



//Hero Section

.hero {
    width: 100%;
    height: 55vw;
    background-image: linear-gradient($bandsite-overlay, $bandsite-overlay), url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet {
        height: 50vh;
    }

    @include desktop {
        height: 60vh; 
    }


    &__name {
        width: 100%;
        margin: 0 1rem;
        color: $white;
        font-weight: 800;

        @include tablet {
            font-size: 2rem;
            margin: 0 2.25rem; 
        }

        @include desktop {
            max-width: 64rem;;
            margin: 0 auto;
          }

    } 
}
//About Section

.about {
    padding-top: 3rem;
    margin: 0 1rem;
    width: 100%;
    background-color: $white;
    color: $darkblack;

    @include tablet {
        margin: 0 2.25rem;
    }

    @include desktop {
        max-width: 64rem;
        margin: 0 auto;
      }

    &__title {
        width:100%;

        h2 {
            font-size: 1.5rem;

            @include tablet {
                font-size: 2.5rem;
            }
        }

        }
    

    &__photo {
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        @include tablet {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        img {
            width: 100%;

        }

        &__quote {
            padding-top: .5rem;
            width: 100%;

                span {
                    width: 100%;
                    padding-top: 16px;
                    display: inline-block;
                    font-size: 1.2rem;
                    font-weight: bold;

                    @include tablet {
                        font-weight: 500;
                    }

                }
            
            
        }
    }
    h3 {
        padding-top: 24px;
        padding-bottom: 16px;
        font-size: 1.2rem;
        width: 100%;
        justify-content: left;

        @include tablet {
            padding-top: 48px;
            padding-bottom: 36px;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 1.5rem;
        }
    }
    
    &__main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include tablet {
            padding-left: 2rem;
            padding-right: 2rem;
            flex-direction: row;
            justify-content: space-between;
        }
    }    

    &__bio {
        width: 100%;
        line-height: 22px;
        padding-bottom: 16px;
        color: $black;
            
        @include tablet {
            width: 48%;
        }
    }
    
}

//Photo Gallery


.gallery {
width: 100%;
background-color: $alabaster;
     
    &__container {
        width: 100%;
        padding-top: 2rem;
        margin: 0 1rem;
       
        @include tablet {
            font-size: 2rem;
            margin: 0 2.25rem;
            padding-bottom: 1.5rem;
        }
    
        @include desktop {
            max-width: 64rem;
            margin: 0 auto;
          }
    }

    &__title {
        font-size: 1.5rem;
        padding-bottom: 4%;
        display: inline-block;

        @include tablet {
            font-size: 2rem;
        }
    }

    &__grid {
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        display: flex;      
        justify-content: space-around;

        @include tablet {
            flex-direction: row;
        }
    }
    
    img {
        display: flex;    
        width: 100%;
        padding-bottom: .5rem;

        @include tablet {
            width: 31%;
            padding-bottom: 1rem;

        }
    }
}


//Comments Section
.comments {
    padding-top: 3rem;

    &__container {
        margin: 0 1rem;
        padding-bottom: 1rem;

        @include tablet {
            margin: 0 2.25rem;
            padding-bottom: 1.5rem;
          }

          @include desktop {
            max-width: 64rem;
            margin: 0 auto;
          }
    }
    &__box{
        .form {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            padding-bottom: 1rem;

            @include tablet {
                padding-bottom: 1.5rem;
              }

            &__avatar {
                border-radius: 50%;
                height: 2.25rem;
                width: 2.25rem;
                object-fit: cover;
                object-position: left;
                margin-top: 20px;
                

                @include tablet {
                    height: 3rem;
                    width: 3rem;
                }
            }

            &__fields {
                display: flex;
                flex-direction: column;
                
                
                .button {
                    font-family: 'AvenirNextRegular'; 
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 0.6rem;
                    line-height: 1.2rem;
                    font-size: 1rem;
                    height: 2.5rem;
                    min-width: 150px;
                    border-radius: 4px;
                    padding: 0 2rem;
                    background-color: $black;
                    color: $white;
                    border: 0;
                    &:hover {
                      background-color: $darkblack;
                      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
                    }
                    @include tablet {
                      width: 150px;
                      align-self: flex-end;
                      font-size: 0.75rem;
                      line-height: 1.25rem;
                    }
                }

            }

            &__label {
                padding-bottom: 4px;
                color: $mercury;
                align-items:baseline;


            }
            &__input {
                height: 2.25rem;
                border-radius: 4px;
                padding: .75rem;
                border: 1px solid $mercury;
                margin-bottom: 1rem;
                width: 75vw;

                @include tablet {
                    height: 3rem;
                    padding: 1rem;
                    width: 60vw;
                    max-width: 31.25rem;
                }
                &:focus{
                    outline: none;
                    border-color: $black;
                }
                &--error {

                    &:focus {
                        border-color: #d22d2d;
                    }
                }

                &--textarea {
                    resize: none;
                    height: auto;
                    font-weight: normal;
                    font-family: 'AvenirNextRegular';

                }
            }
        }
    }

    &__display {
        display: flex;
        justify-content: center;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        .item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1.25rem;
            padding: 1rem 0;
            border-bottom: 1px solid $mercury;
            margin: auto;

            &__avatar {
                background-color: $mercury;
                border-radius: 50%;
                height: 2.25rem;
                width: 2.25rem;
                object-fit: cover;
                object-position: left;

                @include tablet {
                    height: 3rem;
                    width: 3rem;
                }
            }

            &__section {
                justify-content: center;
                width: 75vw;

                @include tablet {
                    width: 60vw;
                    max-width: 31rem;
                }

            }
            &__title {
                display: flex;
                justify-content: space-between;
            }

            &__name {
                font-weight: 600;
            }

            &__date {
                color: $mercury;
            }
        }
    }
}






